@page "/authentication/{action}"
@inject IAuthenticationPlatformSupportService PlatformSupport

@if (PlatformSupport.IsBrowserAuthenticationEnabled)
{
    <WebAssemblyAuthentication Action="@Action" />
}
else if (PlatformSupport.IsNativeAuthenticationEnabled)
{
    <NativeAuthentication Action="@Action" />
}
else if (PlatformSupport.IsWebServerAuthenticationEnabled)
{
    <WebServerAuthentication Action="@Action" />
}
else
{
    <div>Coming Soon...</div>
}

@code{
    [Parameter]
    public string Action { get; set; }
}
